node_modules/
out/
dist/
release/
*.log
.DS_Store
.vscode/
.idea/
*.tsbuildinfo
.env*
*.tmp

# Capacitor / iOS
ios/App/Pods/
ios/App/Podfile.lock
ios/App/App/public/
ios/App/build/
ios/DerivedData/
*.xcuserdata/
*.xcuserstate
